@model PersonUploadBindingModel
@{
    ViewData["Title"] = "UploadView";
}

<link rel="stylesheet" href="~/css/faces.css" />

<h1 class="display-2 text-center" id="heading">Who are you looking for?</h1>

<form id="faceForm" enctype="multipart/form-data">
    <div class="polaroid" id="form-header">
        <div id="form-header-content">
            <div class="row justify-content-center">
                <input id="faceFile" name="face" type="file" hidden />
                <label for="faceFile" id="drop_zone" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)"><ion-icon name="cloud-upload"></ion-icon><span id="faceFileLabel">Choose a file...</span></label>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="fullName">Full name</label>
        <input type="text" class="form-control" id="fullName" aria-describedby="namesHelp" placeholder="Enter their names">
    </div>
    
    <div class="form-group">
        <label for="ucn">National identification number</label>
        <input type="text" class="form-control" id="ucn" aria-describedby="ucnHelp" placeholder="National identification number">
    </div>
    
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" aria-describedby="cityHelp" placeholder="City">
    </div>
    
    <div class="form-group">
        <label for="quarantine">Quarantine</label>
        <input type="date" class="form-control" id="quarantine" aria-describedby="quarantineHelp" placeholder="Until when are they quarantined">
    </div>
    
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-outline-info" id="sumbitBtn">Add person</button>
        </div>
    </div>
</form>



@section Scripts{
    <script src="/js/faces.js"></script>
}