.reported {
    background-color: rgba(243, 129, 129, 0.4);
}

.not-reported {
    background-color: rgba(0, 255, 0, 0.2);
}

#modalImage {
    width: 60%;
}

#modalInfo tr {
    display: block;
    float: left;
}

#modalInfo th, #modalInfo td {
    display: block;
    width: 100%;
}

#modalInfo td {
    text-align: right;
}

#modalInfo p {
    margin-bottom: 0;
}

#search-navigation button {
    background-color: #f38181;
    color: #FEFAEC
}

    #search-navigation button:active, #search-navigation button:hover {
        background-color: #f56868;
        color: #FEFAEC;
    }

    #search-navigation button:active {
        box-shadow: 0 0 0 0.2rem rgba(243, 129, 129, 0.5);
    }
