.reported {
    background-color: rgba(243, 129, 129, 0.4);
}

.not-reported {
    background-color: rgba(0, 255, 0, 0.2);
}

#modalImage {
    width: 60%;
}

#modalInfo tr {
    display: block;
    float: left;
}

#modalInfo th, #modalInfo td {
    display: block;
    width: 100%;
}

#modalInfo td {
    text-align: right;
}