@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center cta">
    <h1>QDetect</h1>
    <p>Find who violates government rules under COVID-19 quarantine</p>
    <a asp-controller="Person" asp-action="Upload" class="btn btn-purple">Upload Person</a>
</div>
